
.Expense-form h2 {
  display: inline-block;
}

.Expense-form .title span.oi {
  margin-left: 5px;
  display: none;
}

.Expense-form .title:hover span.oi {
  display: inherit;
}

.Expense-form table {
    table-layout: fixed;
    width: fit-content;
    max-width: none;
}

.Expense-form table thead th,
.Expense-form table td.shared {
    text-align: center;
}

.Expense-form table .price, 
.Expense-form table .quantity {
    text-align: right;
}

.Expense-form table .name {
    width: 250px;
}

.Expense-form table th.quantity,
.Expense-form table th.price,
.Expense-form table th.shared {
    width: 100px;
}

.Expense-form table th.users {
    width: 130px;
}

.Expense-form table th.users span.name {
    padding-right: 10px;
}


.Expense-form th.addUser {
    width: 200px;
}